:root {
    --jg-primary-default: #4CAF4F;
    --jg-primary-hover: #66BB69;
    --jg-primary-pressed: #388E3B;
    --jg-primary-focused: #81C784;
    --jg-primary-t-0: #FFFFFF;
    
    --jg-secondary-default:  #263238;
    --jg-secondary-hover: #37474F;
    --jg-secondary-pressed: #455A64;
    --jg-secondary-focused: #37474F;
    --jg-secondary-t-0: #FFFFFF;
   
}