.react-calendar__navigation {
  display: flex;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

.react-calendar__navigation__arrow {
  flex-grow: 0.333;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  color: #263238;
  font-size: 12px;
  padding: 5px 0;
}
.react-calendar__month-view__days button {
  font-size: 12px;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  color: #757575;
  padding: 5px 0;
}
/* .react-calendar__month-view__days button:active {
  background-color: #4caf4f;
  color: #fff;
} */
.react-calendar__tile {
  max-width: initial !important;
}
.react-calendar__tile--range {
  background-color: #4caf4f !important;
  color: #fff !important;
}

.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: grid !important;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.react-calendar__tile {
  max-width: initial !important;
}
